// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.menu-nav {
    overflow: hidden;
}
  
.menu-nav a { 
    float: left;   
    color: #f59608;
    text-align: center;
    padding: 14px 10px 14px 0px;
    text-decoration: none;
    font-size: 15px;
}

.menu-nav a:hover {
    color: #fa3503;
    background-color: white;
}
  
.menu-nav a.active {
    background-color: #4CAF50;
    color: white;
}
